<%- include('../common/hearder.ejs') %>
	<!-- <div class="row clearfix" style=""> -->
	<div class="col-md-9 col-sm-9 col-xs-12 column" >
		<div style="background-color: white;padding: 0;margin-bottom:15px;">
			<!-- 标题 -->
			<div style="width:100%;height:85px;border-bottom:1px solid #b2bec3;padding:8 15">
				<p style="font-size:2.5rem">
					<strong>
						<%= data.title %>
					</strong>
				</p>
				<p style="font-size:1rem;color:#797d80;">
					<span>阅读量:
						<%= data.visit_count %>
					</span>
					<span style="display:inline-block;border:3px solid grey;border-radius:50%;line-height:20px;margin-left:5px;margin-right:5px;margin-bottom:2px;"></span>
					<span>收藏量:
						<%= data.collect_cout %>
					</span>
					<span style="display:inline-block;border:3px solid grey;border-radius:50%;line-height:20px;margin-left:5px;margin-right:5px;margin-bottom:2px;"></span>
					<span>
						<%= data.author %> 于
						<%= data.create_at_time() %> 发布于
						<%= data.tab%>
					</span>
				</p>
			</div>

			<!-- 文章正文 -->
			<div style="width:100%;padding:10 15;font-size:1.8rem;color:#2c3e50">
				<%- data.content %>
			</div>

			<% if (typeof current_user !== 'undefined' && typeof current_user.username !== 'undefined') { %>
				<!-- 收藏，分享栏 -->
			<div style="width:100%;height:50px;border-top:1px solid #b2bec3;padding:8 15">
					<div class="col-md-6 col-sm-6 col-xs-6">
						<div class="pull-left" style="line-height:34px;display:inline-block">
							<a href="#" id="share-btn-collect">
								<img class="share-img-collect" src="/images/collect.png" alt="收藏" style="width:20px;height:20px;">
							</a>
							<span>
								<span style="width:20px;height:20px; display:inline-block"></span>
							</span>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-6">
						<div class="pull-right share-div" style="line-height:34px;display:inline-block">
							<span style="margin-right:10px;">分享到: </span>
							<a href="#" id="share-btn-friends">
								<img class="share-img-friends" src="/images/friends.png" alt="朋友圈分享" style="width:20px;height:20px;">
							</a>
							<span style="margin-left:10px;"></span>
							<a href="#" id="share-btn-wechat">
								<img class="share-img-wechat" src="/images/wechat.png" alt="微信分享" style="width:20px;height:20px;">
							</a>
						</div>
					</div>
			</div>
			<% } %>
		</div>
			<!-- 评论区 -->
			<div style="background-color: white; margin-bottom:15px; padding:8px 15px;">
				<h4><strong>评论</strong></h4>
			</div>
			<!-- 添加回复 -->
			<div style="background-color: white; margin-bottom:15px;">
					<div style="padding:8px 15px;border-bottom:1px solid #b2bec3">
						<h4><strong>添加回复</strong></h4>
					</div>
					<div style="padding-bottom:15px;position:relative">
						<form action="" method="POST" id="read-topic" >
							<textarea style="width:100%;" name="editor-txt" id="editor" ></textarea>
							<input type="submit" value="提交" class="btn btn-info" style="margin-left:15px;">
						</form>
					</div>
			</div>
	</div>
	<%- include('../common/slider-bar-two.ejs') %>

		<%- include('../common/footer.ejs') %>

			<script>
				$(window).on('load', function () {
					$('#share-btn-wechat').hover(function () {
						$('.share-img-wechat').attr('src', '/images/hover_wechat.png');
					}, function () {
						$('.share-img-wechat').attr('src', '/images/wechat.png');
					});

					$('#share-btn-friends').hover(function () {
						$('.share-img-friends').css('text-decoration', 'none').attr('src', '/images/hover_friends.png');
					}, function () {
						$('.share-img-friends').attr('src', '/images/friends.png');
					});

					var $el = $('#editor')[0]; 
					var simplemde = new SimpleMDE({
						element: $el,
						autoDownloadFontAwesome: true,
						autofocus:false
					});
					simplemde.value("This text will appear in the editor");
				});
			</script>