<%- include('./common/hearder.ejs') %>

  <%- include('./common/no-login-main-block.ejs') %>

    <div class="row clearfix">

      <div class="col-md-9 column">

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <a href="#" style="text-decoration:none">全部</a>
              <a href="#">精品</a>
              <a href="#">javascript</a>
              <a href="#">node</a>
              <a href="#">前端</a>
              <a href="#">后端</a>
            </h3>
          </div>
          <div class="panel-body">
            <% if (typeof(topic) !== 'undefined' && topic.length > 0) { %>
              <% topic.forEach(function(item){ %>
                <div class="row clearfix" style="padding-top:10px;border-bottom: 1px solid #eee;">
                  <div class="col-md-2 column" style="text-align:right">
                    <img style="width: 90px" src="/images/default.jpg" class="img-thumbnail img-responsive" />
                  </div>
                  <div class="col-md-10 column">
                    <p style="font-size: 2rem">
                      <strong>
                        <%= item.title %>
                      </strong>
                    </p>
                    <p style="font-size:1.65rem">
                      <%= item.content %>
                    </p>
                    <p style="position: reletive">
                      <a class="btn btn-primary btn-xs" href="#">点击查看 »</a>
                      <span style="display:inline-block;position: absolute;right:50;font-size:1.1rem;line-height:22px;padding-top:5px;" class="text-right">
                          <span>阅读量: </span><span><%= item.visit_count %></span><span style="display:inline-block;border:3px solid grey;border-radius:50%;line-height:20px;margin-left:5px;margin-right:5px;margin-bottom:2px;"></span>
                          <span>收藏量: </span><span><%= item.collect_cout %></span><span style="display:inline-block;border:3px solid grey;border-radius:50%;line-height:20px;margin-left:5px;margin-right:5px;margin-bottom:2px;"></span>
                          <span>发表时间: </span><span><%= item.create_at_time() %></span>
                      </span>
                      
                    </p>
                  </div>
                  <div class="col-md-1 column"></div>
                </div>
                <% }) %>
            <% } else { %>
              <div class="inner"><h4 class='text-center'>无话题</h4></div>
            <% } %>

          </div>
          

        </div>



      </div>

      <%- include('./common/slider-bar.ejs') %>

    </div>
    <%- include('./common/footer.ejs') %>